<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="text-center">Depression Prediction</h1>

    <form action="/" method="post">
        <label>Enter message: </label>
        <input type="text" name="msg">
        <input type="submit" value="Predict">
    </form>

    {% if prediction %}
        <p>Predicted text is {{prediction}}</p>
    {% endif %}
</body>
</html>